{% extends "generic.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title> Libret </title>
    <link rel="stylesheet" href="C:\Users\is\Desktop\Sukhorukov\quiz\main\styles.css">
</head>

<body>
    {% block main %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h3>Выбор Книг:</h3>
                    <div class="witcher">
                        <h1> Ведьмак: Последнее желание </h1>
                        <img src="C:\Users\is\Desktop\Сухоруков\quiz\main\templates\images\orig (2).webp" height=" 200"
                            width="200" />
                        <p><strong>Автор:</strong> Пан Анджей Сапковский.</p>
                        <p><strong>Жанр:</strong> Фэнтези.</p>
                        <p><strong>Страна:</strong> Польша.</p>
                        <p><strong>Год Выпуска:</strong> 1993 год.</p>
                        <p><strong> Цена:</strong>1399р.</p>
                        <button> <a href="https://books.yandex.ru/audiobooks/TsY5HyiY"> Купить </a> </button>
                    </div>
                    <div class="hobbit">
                        <h1> Хоббит, туда или обратно </h1>
                        <img src="C:\Users\is\Desktop\Сухоруков\quiz\main\templates\images\6661718205.jpg" height=" 200"
                            width="200" />
                        <p><strong>Автор:</strong> Джон Р.Р Толкин.</p>
                        <p><strong>Жанр:</strong> Фэнтези.</p>
                        <p><strong>Страна:</strong> Великобритания.</p>
                        <p><strong>Год Выпуска:</strong> 1937 год.</p>
                        <p><strong> Цена:</strong>813р</p>
                        <button> <a href="https://www.wildberries.ru/catalog/8161860/detail.aspx"> Купить </a> </button>
                    </div>
                    <div class="war_and_peace">
                        <h1> Война и мир </h1>
                        <img src="C:\Users\is\Desktop\Сухоруков\quiz\main\templates\images\maxresdefault.jpg"
                            height=" 200" width="200" />
                        <p><strong>Автор:</strong> Л.Н Толстой.</p>
                        <p><strong>Жанр:</strong> Роман.</p>
                        <p><strong>Страна:</strong> Россия.</p>
                        <p><strong>Год Выпуска:</strong> 1812 год.</p>
                        <p><strong> Цена:</strong>125000р.</p>
                        <button> <a
                                href="https://darito.ru/catalog/kniga-voyna-i-mir-v-kozhanom-pereplete-s-podarochnym-futlyarom/?utm_source=yandex&utm_medium=cpc&utm_campaign=dsa_rf_fid_gallery_poisk%7C110614935&utm_content=5445712524%7C1841093927856392466%7C973%7Cdesktop%7Cnone&utm_term=---autotargeting%7C%7C%7Ccid-110614935%7Cgbid-5445712524%7Cadid-1841093927856392466%7Cpid-51535954419&calltouch_tm=yd_c:110614935_gb:5445712524_ad:1841093927856392466_ph:51535954419_st:search_pt:premium_p:2_s:none_dt:desktop_reg:973_ret:51535954419_apt:none&yclid=17774954113668481023">
                                Купить </a> </button>
                        <section>
                        </section>
                    </div>
                </div>
            </div>
    </main>
    {% endblock %}
</body>

</html>