body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.col-4 {
    flex: 0 0 calc(33.333% - 20px);
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h3 {
    color: #333;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 28px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

p {
    color: #666;
    margin: 10px 0;
}

strong {
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

button a {
    color: #fff;
    text-decoration: none;
}

section {
    margin-top: 40px;
}